@media only screen and (min-width:1000px) {
  .setedtslide
  {
    display: inline-block !important;
    position: relative !important;
    overflow: hidden;
    max-width: 90%;
  }
}


.text_hoverlay {
  padding: 35px;
  margin-top: -105px;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  position: absolute;
  top: 233px;
  right: 0;
  width: 30%;
  height: 100%;
  text-align: right;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}

h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  text-align: right;
  margin-left: 67px;
  margin-bottom: 0px;
  font-weight: 600;
}

h3.section-heading {
  padding-top:30px;
  font-size: 28px;
  margin-top: 0;
  text-align: right;
  /*margin-left: 112px;*/
  margin-bottom: 8px;
  font-weight: 600;
}

h5.section-heading {
  padding-top:10px;
  font-size: 15px;
  margin-top: 0;
  text-align: right;
  margin-bottom: 15px;
}
@media only screen and (max-width: 991px) {
  .team-member img {
    max-height: 162px;
  }
  .pdf-thumb-box {
    max-width: 86% !important;
  }
  #box_on_map {
    margin-left: 0px;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 1199px) {
  .pdf-thumb-box {
    max-width: 89%;
  }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white;
    width: 189px;
    height: 198px;
  }
  hr.community {
    margin: 25px 50px;
  }
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    text-align: right;
    margin-left: 34px;
    margin-bottom: 0px;
  }
  .team-member {
    padding: 0;
  }
  .text_hoverlay {
    padding: 15px;
    margin-top: -127px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    position: absolute;
    top: 210px;
    right: 0;
    width: 35%;
    height: 100%;
    text-align: left;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
  h5.section-heading {
    padding-top:10px;
    font-size: 15px;
    margin-top: 0;
    text-align: right;
    margin-bottom: 15px;
  }
}


@media only screen and (min-width: 601px) and (max-width: 767px) {
  .text_hoverlay {
    padding: 15px;
    margin-top: -128px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    position: absolute;
    top: 210px;
    right: 0;
    width: 50%;
    height: 90%;
    text-align: left;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
}
@media only screen and (max-width: 600px) {
  .text_hoverlay {
    padding: 15px;
    margin-top: -128px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 210px;
    right: 0;
    width: 50%;
    height: 320px;
    text-align: left;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
  }
  h2.section-heading {
    font-size: 30px;
    margin-top: 0;
    text-align: left;
    /*margin-left: 112px;*/
    margin-bottom: 0px;
    font-weight: 600;
  }

  h3.section-heading {
    padding-top:30px;
    font-size: 20px;
    margin-top: 0;
    text-align: right;
    /*margin-left: 112px;*/
    margin-bottom: 5px;
    font-weight: 600;
  }

  h5.section-heading {
    padding-top:10px;
    font-size: 15px;
    margin-top: 0;
    text-align: right;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 317px) {
  .text_hoverlay {
    padding: 15px;
    margin-top: -128px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    top: 260px;
    right: 0;
    width: 50%;
    height: 320px;
    text-align: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
}

#community_cover6 {
  background-image: url('../img/commheader/comm6.jpg');
  background-position: center center;
  background-size: cover;
}

#community_cover2 {
  background-image: url('../img/commheader/comm2.jpg');
  background-position: center center;
  background-size: cover;
}

#community_cover3 {
  background-image: url('../img/commheader/comm3.jpg');
  background-position: center center;
  background-size: cover;
}

#community_cover7 {
  background-image: url('../img/commheader/comm7.jpg');
  background-position: center center;
  background-size: cover;
}

#community_cover5 {
  background-image: url('../img/commheader/comm5.jpg');
  background-position: center center;
  background-size: cover;
}

#community_cover8 {
  background-image: url('../img/commheader/comm8.jpg');
  background-position: center center;
  background-size: cover;
}

#community_cover4 {
  background-image: url('../img/commheader/comm4.jpg');
  background-position: center center;
  background-size: cover;
}

.pd-box_btn_close {
  height: 20px;
  text-align: left;
  cursor: pointer;
  position: absolute;
  padding-left:20px;
}

.pd-box_btn_moremaps {
  height: 20px;
  right:0;
  cursor: pointer;
  position: absolute;
  padding-right:20px;
}

.pd-box_btn_more {
  height: 20px;
  text-align: right;
  cursor: pointer;
}

.setonmappdbox
{
  height: 370px !important;
}

.carousel-showmanymoveone .carousel-control.left
{
  margin-left: 25px !important;
}

.carousel-showmanymoveone .carousel-control.right
{
  margin-right: 25px !important;
}
