section.block3 {
  background: url('../img/image_section/product-section.png') no-repeat center bottom/cover #f4efe4;
  font-family: 'DB HelvethaicaMon X Reg';
  height: 52%;
  padding-top: 100px;
}

h2.font-product {
  font-size: 72px;
  margin-right: 290px;
  margin-top: 120px;
  margin-bottom: 40px;
  font-weight: 700;
  width: 10px;
  float: right;
}
img.img-product {
  margin-right: -225px;
  padding-top: 220px;
  margin-bottom: 40px;
  float: right;
}

@media only screen and (max-width:1199px){
  section.block3 {
    padding-top: 0px;
    height: auto;
  background: url('../img/image_section/product-section.png') no-repeat center bottom/cover #f4efe4;
  }
}

@media only screen and (max-width:569px){
  img.img-product {
    margin-right: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 40px;
    float: right;
  }
  h2.font-product
  {
    font-size: 72px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    width: auto;
    float: none;
  }
}

.foncommindex
{
  font-size:18px;
  color:red;
}

@media only screen and (max-width:300px){
  #hero-parallax{
    display:none;
  }
  #normalbg{
    display:block;
  }
}

@media only screen and (min-width:301px) and (max-width:1600px){
  #hero-parallax{
    display:block;
  }
  #normalbg{
    display:none;
  }
}

@media only screen and (min-width:1600px){
  #hero-parallax{
    display:none;
  }
  #normalbg{
    display:block;
  }
}
