/* Third-Section: Comunity-Section; */
/*.section-community {
  background: url('../img/image_section/community-section.png')no-repeat center bottom #f4efe4;
  color: #FFFBF6;
  font-family: 'THSarabunNewRegular';
}*/

/*img.img-head-community {
  /*margin-bottom: 50px;*/
  /*float: right;
}*/
h2.head-slide-community { font-size: 40px; }
p.subhead-slide-community { font-size: 30px; }
p.content-slide-community { font-size: 20px; }
/* Community-Section:Bootstrap Carousel */
.carousel-control:hover {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  transition-duration: 400ms;
}
.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .carousel-item.next,
  .carousel-fade .carousel-inner > .carousel-item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .carousel-item.prev,
  .carousel-fade .carousel-inner > .carousel-item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .carousel-item.next.left,
  .carousel-fade .carousel-inner > .carousel-item.prev.right,
  .carousel-fade .carousel-inner > .carousel-item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.foncommindex
{
  font-size:18px;
  width:32%;
  margin-left: 68%;
}

@media only screen and (max-width:600px)
{
  #icocom
  {
    display: none;
  }
}

@media only screen and (min-width:1921px){
  #normalbg
  {
    display:block;
  }
  #parafhd
  {
    display: none;
  }
  #hero-parallax
  {
    display: none;
  }
  #parahd
  {
    display: none;
  }
  #mobilebg
  {
    display: none;
  }
}

@media only screen and (min-width:1377px) and (max-width:1920px){
  #normalbg
  {
    display:none;
  }
  #parafhd
  {
    display: block;
  }
  #hero-parallax
  {
    display: none;
  }
  #parahd
  {
    display: none;
  }
  #mobilebg
  {
    display: none;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1376px) {
  #normalbg
  {
    display:none;
  }
  #parafhd
  {
    display: none;
  }
  #hero-parallax
  {
    display: block;
  }
  #parahd
  {
    display: none;
  }
  #mobilebg
  {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #normalbg
  {
    display:none;
  }
  #parafhd
  {
    display: none;
  }
  #hero-parallax
  {
    display: none;
  }
  #parahd
  {
    display: block;
  }
  #mobilebg
  {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #normalbg
  {
    display:none;
  }
  #parafhd
  {
    display: none;
  }
  #hero-parallax
  {
    display: none;
  }
  #parahd
  {
    display: none;
  }
  #mobilebg
  {
    display: block;
  }
}


@media only screen and (min-width:1601px) and (max-width:1920px){
  #parafhd {
    height: 1080px;
    overflow: hidden;
    position: relative;
  }

  .layerparafhd {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    position: fixed;
    z-index: -1;
  }

  #parafhd, .layerparafhd {
    min-height: 800px;
  }
  .layerfhd-bgx {
    background-image: url("../img/header_parallax/fhd/bg.jpg");
  }

  .layerfhd-mount1x {
    background-image: url("../img/header_parallax/fhd/m1.png\a 		");
  }

  .layerfhd-mount2x {
      background-image: url("../img/header_parallax/fhd/m2.png");
  }

  .layerfhd-mount3x {
      background-image: url("../img/header_parallax/fhd/m3.png\a 		");
  }

  .layerfhd-boatx {
    background-image: url("../img/header_parallax/fhd/boat.png\a 		");
  }

  .layerfhd-cloudx {
      background-image: url("../img/header_parallax/fhd/cloud.png\a 		");
  }

  .layerfhd-cocolx {
      background-image: url("../img/header_parallax/fhd/lcoconut.png\a 		");
  }

  .layerfhd-cocorx {
    background-image: url("../img/header_parallax/fhd/rcoconut.png\a 		");
  }

  .layerfhd-logox {
    background-image: url("../img/header_parallax/fhd/logo.png\a 		");
  }

}



@media only screen and (min-width:1441px) and (max-width:1600px){
  #parafhd {
    height: 900px;
    overflow: hidden;
    position: relative;
  }

  .layerparafhd {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    position: fixed;
    z-index: -1;
  }

  #parafhd, .layerparafhd {
    min-height: 800px;
  }
  .layerfhd-bgx {
    background-image: url("../img/header_parallax/1600/bg.jpg");
  }

  .layerfhd-mount1x {
    background-image: url("../img/header_parallax/1600/m1.png\a 		");
  }

  .layerfhd-mount2x {
      background-image: url("../img/header_parallax/1600/m2.png");
  }

  .layerfhd-mount3x {
      background-image: url("../img/header_parallax/1600/m3.png\a 		");
  }

  .layerfhd-boatx {
    background-image: url("../img/header_parallax/1600/boat.png\a 		");
  }

  .layerfhd-cloudx {
      background-image: url("../img/header_parallax/1600/cloud.png\a 		");
  }

  .layerfhd-cocolx {
      background-image: url("../img/header_parallax/1600/lcoconut.png\a 		");
  }

  .layerfhd-cocorx {
    background-image: url("../img/header_parallax/1600/rcoconut.png\a 		");
  }

  .layerfhd-logox {
    background-image: url("../img/header_parallax/1600/logo.png\a 		");
  }

}


@media only screen and (min-width:1377px) and (max-width:1440px){
  #parafhd {
    height: 900px;
    overflow: hidden;
    position: relative;
  }

  .layerparafhd {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    position: fixed;
    z-index: -1;
  }

  #parafhd, .layerparafhd {
    min-height: 800px;
  }
  .layerfhd-bgx {
    background-image: url("../img/header_parallax/1440/bg.jpg");
  }

  .layerfhd-mount1x {
    background-image: url("../img/header_parallax/1440/m1.png\a 		");
  }

  .layerfhd-mount2x {
      background-image: url("../img/header_parallax/1440/m2.png");
  }

  .layerfhd-mount3x {
      background-image: url("../img/header_parallax/1440/m3.png\a 		");
  }

  .layerfhd-boatx {
    background-image: url("../img/header_parallax/1440/boat.png\a 		");
  }

  .layerfhd-cloudx {
      background-image: url("../img/header_parallax/1440/cloud.png\a 		");
  }

  .layerfhd-cocolx {
      background-image: url("../img/header_parallax/1440/lcoconut.png\a 		");
  }

  .layerfhd-cocorx {
    background-image: url("../img/header_parallax/1440/rcoconut.png\a 		");
  }

  .layerfhd-logox {
    background-image: url("../img/header_parallax/1440/logo.png\a 		");
  }

}

@media only screen and (min-width: 1201px) and (max-width: 1376px) {
  #parahd2 {
    height: 770px;
    overflow: hidden;
    position: relative;
  }
  .layerparahd2 {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 770px;
    position: fixed;
    z-index: -1;
  }
  #parahd2, .layerparahd2 {
    min-height: 700px;
  }
  .layerhd-bgx {
    background-image: url("../img/header_parallax/bg.jpg");
  }

  .layerhd-mount1x {
    background-image: url("../img/header_parallax/m1.png\a     ");
  }

  .layerhd-mount2x {
      background-image: url("../img/header_parallax/m2.png");
  }

  .layerhd-mount3x {
      background-image: url("../img/header_parallax/m3.png\a     ");
  }

  .layerhd-boatx {
    background-image: url("../img/header_parallax/boat.png\a     ");
  }

  .layerhd-cloudx {
      background-image: url("../img/header_parallax/cloud.png\a    ");
  }

  .layerhd-cocolx {
      background-image: url("../img/header_parallax/lcoconut.png\a     ");
  }

  .layerhd-cocorx {
    background-image: url("../img/header_parallax/rcoconut.png\a     ");
  }

  .layerhd-logox {
    background-image: url("../img/header_parallax/logo.png\a     ");
  }
}

/* PARALLAX TABLET */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #parahd {
    height: 720px;
    overflow: hidden;
    position: relative;
  }
  .layerparahd {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    position: fixed;
    z-index: -1;
  }
  #parahd, .layerparahd {
    min-height: 600px;
  }
  .layerhd-bgx {
    background-image: url("../img/header_parallax/hd/bg.jpg");
  }

  .layerhd-mount1x {
    background-image: url("../img/header_parallax/hd/m1.png\a 		");
  }

  .layerhd-mount2x {
      background-image: url("../img/header_parallax/hd/m2.png");
  }

  .layerhd-mount3x {
      background-image: url("../img/header_parallax/hd/m3.png\a 		");
  }

  .layerhd-boatx {
    background-image: url("../img/header_parallax/hd/boat.png\a 		");
  }

  .layerhd-cloudx {
      background-image: url("../img/header_parallax/hd/cloud.png\a 		");
  }

  .layerhd-cocolx {
      background-image: url("../img/header_parallax/hd/lcoconut.png\a 		");
  }

  .layerhd-cocorx {
    background-image: url("../img/header_parallax/hd/rcoconut.png\a 		");
  }

  .layerhd-logox {
    background-image: url("../img/header_parallax/hd/logo.png\a 		");
  }
}

/*
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #hero-parallax {
    height: 600px;
  }
  .layer {
    height: 500px;
  }
  #hero-parallax, .layer {
    min-height: 600px;
  }
  .layer-bg {
    background: url(../img/header_parallax/header_bg.png)no-repeat center top/cover;
    margin-top: -160px;
  }
  .layer-sky-center {
    background: url(../img/header_parallax/header_05-1-center.png)no-repeat top center;
    background-size: auto 110px;
  }
  .layer-sky3-right {
    background: url(../img/header_parallax/header_05-3right.png)no-repeat right top;
    margin-top: 60px;
    background-size: auto 140px;
  }
  .layer-sky3-left {
    background: url(../img/header_parallax/header_05-3left.png)no-repeat left top;
    margin-top: 50px;
    background-size: auto 140px;
  }
  .layer-sky2-right {
    background: url(../img/header_parallax/header_05-2right.png)no-repeat right top;
    margin-top: 135px;
    background-size: auto 110px;
  }
  .layer-sky2-left {
    background: url(../img/header_parallax/header_05-2left.png)no-repeat left top;
    margin-top: 120px;
    margin-left: 0;
    background-size: auto 110px;
  }
  .layer-sky1-right {
    background: url(../img/header_parallax/header_05-1right.png)no-repeat right top;
    margin-top: 160px;
    margin-left: 0;
    background-size: auto 145px;
  }
  .layer-sky1-left {
    background: url(../img/header_parallax/header_05-1left.png)no-repeat left top;
    margin-top: 155px;
    background-size: auto 105px;
    margin-left: 0;
  }
  .layer-mountain3-right {
    background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
    background-size: auto 235px;
    margin-top: 30px;
    margin-left: 40px;
  }
  .layer-mountain3-left {
    background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
    background-size: auto 190px;
    margin-top: 0;
    margin-left: -105px;
  }
  .layer-mountain2-right {
    background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
    background-size: auto 150px;
    margin-top: 45px;
    margin-left: 150px;
  }
  .layer-mountain2-left {
    background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
    background-size: auto 85px;
  }
  .layer-mountain1-right {
    background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
    background-size: auto 95px;
    margin-left: 50px;
    margin-top: -5px;
  }
  .layer-mountain1-left {
    background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
    background-size: auto 60px;
  }
  .layer-sea {
    background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
    margin-top: 200px;
    background-size: auto;
  }
  .layer-logo {
    background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
    margin-top: 45px;
    margin-left: 5px;
    background-size: auto 280px;
  }
  .layer-coconut-right {
    background: url(../img/header_parallax/header_06-3.png)no-repeat right bottom;
    right: 0;
    margin-right: -42px;
    background-size: auto 405px;
  }
  .layer-coconut-left {
    background: url(../img/header_parallax/header_07.png)no-repeat left bottom;
    left: 0;
    margin-left: -42px;
    background-size: auto 410px;
  }
}
*/

/*
@media only screen and (min-width: 1421px) and (max-width: 1499px) {
  .layer-mountain3-right {
    background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
    margin-left: -112px;
    margin-top: 40px;
  }
  .layer-mountain3-left {
    background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
    margin-top: 0;
    margin-left: -105px;
  }
  .layer-mountain2-right {
    background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
    margin-top: 45px;
    margin-left: 150px;
  }
  .layer-mountain2-left {
    background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
  }
  .layer-mountain1-right {
    background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
    margin-left: 50px;
    margin-top: -5px;
  }
  .layer-mountain1-left {
    background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
  }
  .layer-sea {
    background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
    margin-top: 200px;
  }
  .layer-logo {
    background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
    margin-top: 45px;
    margin-left: 5px;
    background-size: auto 350px;
  }
}*/

/* PARALLAX TABLET */
/*
@media only screen and (min-width: 521px) and (max-width: 767px) {
  #hero-parallax {
    height: 600px;
  }
  .layer {
    height: 500px;
  }
  #hero-parallax, .layer {
    min-height: 600px;
  }
  .layer-bg {
    background: url(../img/header_parallax/header_bg.png)no-repeat center top/cover;
    margin-top: -160px;
  }
  .layer-sky-center {
    background: url(../img/header_parallax/header_05-1-center.png)no-repeat top center;
    background-size: auto 110px;
  }
  .layer-sky3-right {
    background: url(../img/header_parallax/header_05-3right.png)no-repeat right top;
    margin-top: 60px;
    background-size: auto 140px;
  }
  .layer-sky3-left {
    background: url(../img/header_parallax/header_05-3left.png)no-repeat left top;
    margin-top: 50px;
    background-size: auto 140px;
  }
  .layer-sky2-right {
    background: url(../img/header_parallax/header_05-2right.png)no-repeat right top;
    margin-top: 135px;
    background-size: auto 110px;
  }
  .layer-sky2-left {
    background: url(../img/header_parallax/header_05-2left.png)no-repeat left top;
    margin-top: 120px;
    margin-left: 0;
    background-size: auto 110px;
  }
  .layer-sky1-right {
    background: url(../img/header_parallax/header_05-1right.png)no-repeat right top;
    margin-top: 160px;
    margin-left: 0;
    background-size: auto 145px;
  }
  .layer-sky1-left {
    background: url(../img/header_parallax/header_05-1left.png)no-repeat left top;
    margin-top: 155px;
    background-size: auto 105px;
    margin-left: 0;
  }
  .layer-mountain3-right {
    background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
    background-size: auto 235px;
    margin-top: 30px;
    margin-left: 40px;
  }
  .layer-mountain3-left {
    background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
    background-size: auto 190px;
    margin-top: 0;
    margin-left: -105px;
  }
  .layer-mountain2-right {
    background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
    background-size: auto 150px;
    margin-top: 45px;
    margin-left: 150px;
  }
  .layer-mountain2-left {
    background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
    background-size: auto 85px;
  }
  .layer-mountain1-right {
    background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
    background-size: auto 95px;
    margin-left: 50px;
    margin-top: -5px;
  }
  .layer-mountain1-left {
    background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
    background-size: auto 60px;
  }
  .layer-sea {
    background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
    margin-top: 200px;
    background-size: auto;
  }
  .layer-logo {
    background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
    margin-top: 45px;
    margin-left: 5px;
    background-size: auto 280px;
  }
  .layer-coconut-right {
    background: url(../img/header_parallax/header_06-3.png)no-repeat right bottom;
    right: 0;
    margin-right: -42px;
    background-size: auto 405px;
  }
  .layer-coconut-left {
    background: url(../img/header_parallax/header_07.png)no-repeat left bottom;
    left: 0;
    margin-left: -42px;
    background-size: auto 410px;
  }
}
*/
/* PARALLAX MOBILE */
/*
@media only screen and (min-width: 300px) and (max-width: 520px) {
  #hero-parallax {
    height: 600px;
  }
  .layer {
    height: 500px;
  }
  #hero-parallax, .layer {
    min-height: 600px;
  }
  .layer-bg {
    background: url(../img/header_parallax/header_bg.png)no-repeat center top/cover;
    margin-top: -160px;
  }
  .layer-sky-center {
    background: url(../img/header_parallax/header_05-1-center.png)no-repeat top center;
    background-size: auto 70px;
  }
  .layer-sky3-right {
    background: url(../img/header_parallax/header_05-3right.png)no-repeat right top;
    margin-top: 60px;
    background-size: auto 100px;
  }
  .layer-sky3-left {
    background: url(../img/header_parallax/header_05-3left.png)no-repeat left top;
    margin-top: 50px;
    background-size: auto 100px;
  }
  .layer-sky2-right {
    background: url(../img/header_parallax/header_05-2right.png)no-repeat right top;
    margin-top: 135px;
    background-size: auto 80px;
  }
  .layer-sky2-left {
    background: url(../img/header_parallax/header_05-2left.png)no-repeat left top;
    margin-top: 140px;
    background-size: auto 80px;
  }
  .layer-sky1-right {
    background: url(../img/header_parallax/header_05-1right.png)no-repeat right top;
    margin-top: 180px;
    margin-left: 60px;
    background-size: auto 100px;
  }
  .layer-sky1-left {
    background: url(../img/header_parallax/header_05-1left.png)no-repeat left top;
    margin-top: 190px;
    background-size: auto 100px;
    margin-left: -30px;
  }
  .layer-mountain3-right {
    background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
    background-size: auto 120px;
    margin-top: 10px;
    margin-left: 9px;
  }
  .layer-mountain3-left {
    background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
    background-size: auto 175px;
    margin-top: 20px;
    margin-left: -170px;
  }
  .layer-mountain2-right {
    background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
    background-size: auto 150px;
    margin-top: 45px;
    margin-left: 150px;
  }
  .layer-mountain2-left {
    background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
    background-size: auto 38px;
  }
  .layer-mountain1-right {
    background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
    background-size: auto 58px;
    margin-left: 50px;
    margin-top: -5px;
  }
  .layer-mountain1-left {
    background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
    background-size: auto 40px;
  }
  .layer-sea {
    background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
    margin-top: 200px;
    background-size: auto;
  }
  .layer-logo {
    background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
    margin-top: 45px;
    margin-left: 5px;
    background-size: auto 280px;
  }
  .layer-coconut-right {
    background: url(../img/header_parallax/header_06-3.png)no-repeat right bottom;
    right: 0;
    margin-right: -42px;
    background-size: auto 300px;
  }
  .layer-coconut-left {
    background: url(../img/header_parallax/header_07.png)no-repeat left bottom;
    left: 0;
    margin-left: -42px;
    background-size: auto 300px;
  }
}
  */
