
#parafhd {
  height: 1080px;
  overflow: hidden;
  position: relative;
}

.layerparafhd {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  position: fixed;
  z-index: -1;
}

#parafhd, .layerparafhd {
  min-height: 800px;
}

.layerfhd-bgx {
  background-image: url("tae/bg.jpg");
}

.layerfhd-mount1x {
  background-image: url("tae/m1.png\a 		");
}

.layerfhd-mount2x {
    background-image: url("tae/m2.png");
}

.layerfhd-mount3x {
    background-image: url("tae/m3.png\a 		");
}

.layerfhd-boatx {
  background-image: url("tae/boat.png\a 		");
}

.layerfhd-cloudx {
    background-image: url("tae/cloud.png\a 		");
}

.layerfhd-cocolx {
    background-image: url("tae/lcoconut.png\a 		");
}

.layerfhd-cocorx {
  background-image: url("tae/rcoconut.png\a 		");
}

.layerfhd-logox {
  background-image: url("tae/logo.png\a 		");
}
