html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Myriad Pro' , 'THSarabunNewRegular' ;
  background-color: #f4efe4;
}

p  {
  font-family: 'THSarabunNewRegular';
  text-align: left;
  text-indent: 30px;
}

p.introwho
{

}

.logo {
  margin-top: -16px; /*-20*/
  width: 200px;
  margin-left: -5px;
}

/* Navber */
/*------------------*/
/* Set Navbar */
.navbar-index .navbar-nav,
.navbar-community .navbar-nav,
.navbar-download .navbar-nav {
  margin: 0;
}
.navbar-index {
  font-family: 'THSarabunNewRegular';
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  background-color: #6ba491;
  /*padding: 15px 0;*/
}
.navbar-community {
  font-family: 'THSarabunNewRegular';
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  background-color: #f4efe4;
  padding: 15px;
}
.navbar-download {
  font-family: 'THSarabunNewRegular';
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  background-color: #f4efe4;
  padding: 15px 0;
}
.navbar-index > ul > li > a {
  color: #f4efe4;
}
.navbar-community > ul > li > a,
.navbar-download > ul > li > a {
  color: #281b1c;
}
/* Fixed Navbar on top */
.fixed-navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: none;
}
/* Set Center Position and height Navbar */
@media (min-width: 767px) {
  .navbar .navbar-nav,
  .fixed-navbar {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse,
  .fixed-navbar {
    text-align: center;
  }
}
/* Set Space Inside Navbar */
.inside-navbar > li > a {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-community .inside-navbar > li > a {
  padding-right: 6px;
  padding-left: 6px;
}
@media only screen and (max-width: 991px) {
  .inside-navbar > li > a {
    padding-right: 6px;
    padding-left: 6px;
  }
}
/* Set Hover&Focus Active Navbar */
.nav > .active > a:hover {
  background: url(../img/image_section/menu-active.png)no-repeat center bottom;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #f4efe4;
}
.navbar-index > ul > li > a:hover {
  color: #f4efe4;
  background: url(../img/image_section/menu-active.png)no-repeat center bottom;
}
.navbar-community > ul > li > a:hover,
.navbar-download > ul > li > a:hover{
  color: #281b1c;
  background: url(../img/image_section/menu-active.png)no-repeat center bottom;
}
.navbar-index > ul > li > a:focus,
.nav-slide-collapse > ol > li > a:focus {
  color: #f4efe4;
  background-color: #6ba491;
}
.navbar-community > ul > li > a:focus,
.navbar-download > ul > li > a:focus {
  color: #281b1c;
  background-color: #f4efe4;
}
/* Set Navbar-Toggle in Index, Community, Download Page*/
.navbar-index .navbar-toggle:hover,
.navbar-index .navbar-toggle:focus {
  background-color: #6ba491;
}
.navbar-community .navbar-toggle:hover,
.navbar-community .navbar-toggle:focus,
.navbar-download .navbar-toggle:hover,
.navbar-download .navbar-toggle:focus {
  background-color: #e5dac0;
}
.navbar-index .navbar-toggle .icon-bar {
  background-color: #f4efe4;
}
.navbar-community .navbar-toggle .icon-bar,
.navbar-download .navbar-toggle .icon-bar {
  background-color: #281b1c;
}
.dropdown-menu {
    min-width: 300px;
    background-color: #e0dcd2;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #e3dfd6;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px #e3dfd6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin-left: 50px;
    padding: 10px 0;
}
.btn-product {
  font-family: 'THSarabunNewRegular';
  font-size: 23px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  line-height: 2;
  padding: 0 2.5rem;
  -webkit-appearance: none;
}
.btn-product:hover,
.btn-product:focus  {
  color: #D2CDC3;
  text-decoration: none;
  background-color: #5A5853;
}
.btn-product .active  {
  color: white;
  text-decoration: none;
  background-color: #000;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Set Navbar in Community Page: when screen down 1199px; */
@media only screen and (max-width: 1199px) {
  .navbar-community .navbar-header {
    float: none;
  }
  .navbar-community  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-community  .navbar-toggle {
    display: block;
  }
  .navbar-community  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-community  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-community  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-community  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-community  .navbar-nav>li {
    float: none;
  }
  .navbar-community  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-community .collapse.in{
    display:block !important;
  }
}
@media only screen and (max-width: 767px) {
  .dropdown-menu {
    text-align: center;
    margin-left: 0;
  }
}

/* Product-Box for HomePage, ProsuctPage CommunityPage */
.pd-th {
  line-height: 20px;
  display: inline-block;
  border: solid 2px #FFFFFF;
  max-width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
}
.pd-space_around_box {
  margin: 0.5rem;
}
.pd-product_box {
  width: 230px;
  height: 370px;
  background: #fff;
  border: solid 1px #fff;
  position: relative;
}
.pd-product_box_rate {
  width: 230px;
  /*height: 390px;*/
  background: #fff;
  border: solid 1px #fff;
  position: relative;
}
.pd-box_picture {
  z-index: 9;
  width: 228px;
  height: 155px;
  overflow: hidden;
  background: #fff;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.pd-box-news_picture {
  z-index: 9;
  width: 228px;
  height: 152px;
  overflow: hidden;
  background: #fff;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.pd-box_detail_product {
  height: 175px;
  width: 228px;
  background: #fff;
  position: relative;
}
.pd-box-news_detail {
  height: 128px;
  width: 228px;
  background: #fff;
  position: relative;
}
.pd-box_btn_more {
  height: 20px;
  text-align: right;
  cursor: pointer;
}
.pd-caption {
  padding:0;
  margin:0;
  color: #777;
  font-family: 'THSarabunNewRegular';
}
.pd-caption h3 {
  padding: 5px 0 0 0;
  margin:0;
  text-align: center;
  font-size: 23px;
}
hr.line-pd-caption {
    position: absolute;
    z-index: 50;
    top: 27px;
    right: 0;
    left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pd-caption p {
  padding: 5px;
  margin:0;
  text-align: left;
  font-size: 23px;
  text-indent: 0;
}
.pd-caption h4 {
  padding: 5px;
  margin:0;
  text-align: right;
  font-size: 21px;
  cursor: pointer;
}
.pd-tab-header-carousel {
  background-color: #D9D9D9;
  font-size: 23px;
  text-align: center;
}
.pd-tab-rate {
  text-align: center;
  height: 20px;
  cursor: pointer;
}
.modal-body {
  max-height: 180px;
  overflow-y: auto;
  font-family: 'THSarabunNewRegular';
  font-size: 23px;
}


/* Content */
/*--------------------*/
/* Set Section */
section {
  padding-top: 100px;
  text-align: center;
}
@media (max-width: 767px) {
  section {
    padding: 45px 0 0 0;
  }
}


/* Home Page */
/* First-Section: About-Section; */
.section-about {
  background-color: #6ba491;
  padding-top: 65px;
  padding-bottom: 30px;
  font-family: 'Myriad Pro';
  color: #FFFBF6;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 24px;
}
ul.inline-ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  width:70%;
  display: block;
}
ul.inline-support {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}
li.inline-li {
  float: left;
}
li.inline-li a {
  display: block;
  color: red;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
li.inline-li a:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.img-inline {
  max-height: 78px;
}
.img-inline-news {
  max-height: 115px;
}
@media only screen and (max-width: 1199px) {
  ul.inline-ul {
    width:85%;
  }
  .section-about {
    padding-top: 60px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 991px) {
  ul.inline-ul {
    width:100%;
  }
  li.inline-li a {
    padding: 10px;
  }
}
@media only screen and (max-width: 767px) {
  li.inline-li a {
    padding: 12px;
  }
  .img-inline {
    max-height: 70px;
  }
  .section-about {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .img-inline-news {
    max-height: 70px;
  }
}

/* Add-Section: News-Section; */
.section-news {
  background-color: #281b1c;
  font-family: 'THSarabunNewRegular';
}
section.section-news-head {
  background: url('../img/image_section/product-section.png') no-repeat center bottom/cover #f4efe4;
  font-family: 'THSarabunNewRegular';
  /*height: 52%;*/
  padding-top: 55px;
}
.section-news-content {
  background-color: #f4efe4;
  padding-bottom: 30px;
  margin-top: -1px;
  padding-top: 75px;
}
img.img-news {
  margin-right: 80px;
  padding-top: 220px;
  /* margin-bottom: 40px; */
  float: right;
}
.owl-carousel {
position: relative;
}
.owl-prev,
.owl-next {
position: absolute;
top: 50%;
margin-top: -30px; // Half of the prev/next buttons height here in negatives to center them perfectly
}
.owl-prev {
  left: 0;
  font-size: 35px;
  font-weight: 600;
  color: #C0C0C0;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: transparent;

  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.owl-prev:hover  {
  left: 0;
  font-size: 35px;
  font-weight: 600;
  color: #C0C0C0;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.5);
  opacity: 0.9;

  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;

  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.owl-next {
  right: 0;
  font-size: 35px;
  font-weight: 600;
  color: #C0C0C0;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: transparent;

  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.owl-next:hover  {
  right: 0;
  font-size: 35px;
  font-weight: 600;
  color: #C0C0C0;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.5);
  opacity: 0.9;

  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;

  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@media only screen and (max-width:800px) {
  .owl-prev {
    margin-left: 60px;
  }
  .owl-prev:hover {
    margin-left: 60px;
  }
  .owl-next {
    margin-right: 60px;
  }
  .owl-next:hover {
    margin-right: 60px;
  }
}
@media only screen and (min-width:1000px) {
  .setedtslide
  {
    display: inline-block !important;
    position: relative !important;
    overflow: hidden;
    max-width: 86.5%;
  }
}

/* Second-Section: Product-Section; */
section.section-product-head {
  font-family: 'THSarabunNewRegular';
  background-color: #f4efe4;
}
.section-product-content {
  background-color: #f4efe4;
  padding-bottom: 30px;
  margin-top: -1px;
  padding-top: 45px;
}
.font-product {
  font-size: 72px;
  font-weight: 100;
  float: right;
  line-height: 43px;
  margin-right: 90px;
}
img.img-product {
  margin-right: 80px;
  /* padding-top: 220px; */
  /* margin-bottom: 40px; */
  float: right;
}
.img-box_picture {
  display: block;
  max-width: 100%;
  height: auto;
}
img.img-box {
  height: 155px;
  width: 100%;
}
.img-center {  margin: 0 auto;  }

/* Third-Section: Comunity-Section; */
section.section-community {
  background: url('../img/image_section/community-section.png') no-repeat center bottom/cover #f4efe4;
  font-family: 'THSarabunNewRegular';
  color: #FFFBF6;
  height: 1210px;
  margin-top: -1px;
  margin-bottom: -1px;
}
img.img-head-community {
  margin-right: 80px;
  padding-top: 40px;
  margin-bottom: 45px;
  float: right;
}
.nav-slide-collapse {
  display: inline-block;
  float: none;
  font-size: 22px;
  /*margin-top: -17px;*/
  margin-bottom: 15px;
}
img.img-head-download {
  margin-top: 170px;
  margin-bottom: 30px;
  margin-left: 80px;
  float: left;
}
.font-head-community {
  font-size: 72px;
  margin-right: 240px;
  margin-bottom: -20px;
  text-align: right;
  font-weight: 700;
}
@media only screen and (max-width:760px) {
  .nav-slide-collapse a {
    color: #f4efe4;
  }
}
.nav-slide-collapse a {
  color: #f4efe4;
}
.nav-slide-collapse {
  text-align: center;
}
.nav-slide-collapse > ol > li > a:hover {
  background: url(../img/image_section/menu-active.png)no-repeat center bottom;
}
/* Community-Section:Bootstrap Carousel */
/* NEW CAROUSEL */
.bs-slider{
    overflow: hidden;
    max-height: 600px;
    position: relative;
    background: #000000;
    margin-left: 80px;
    margin-right: 80px;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}
/********************
*****Slide effect
**********************/
.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 83%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}
/*---------- INDICATORS CONTROL ----------*/
/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
}
.slide-text {
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  padding: 0 15px;
  position: absolute;
  text-align: right;
}
.slide-text > hr {
  width: 32%;
  margin-right: -1px;
  margin-bottom: 0;
  margin-top: 10px;
}
.slide-text > h5 {
  padding-top: 10px;
  color: #ffffff;
  font-size: 28px;
  font-style: normal;
  line-height: 0;
  letter-spacing: 0.5px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.slide-text > h1 {
    color: #ffffff;
    font-size: 50px;
    font-style: normal;
    line-height: 38px;
    display: inline-block;
    letter-spacing: 1px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    margin-bottom: 0;
    margin-top: 10px;
}
.slide-text > p {
    padding: 0;
    color: #ffffff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    /*margin-bottom: 40px;*/
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    /*word-break: break-all;*/
    text-indent: 0;
}
.slide-text > a{
    color:#fffbf6;
    font-weight: 400;
    font-size: 22px;
    line-height: 15px;
    margin-right: -20px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
.img-download-width {
  width: 980px;
}
/*------------------------------------------------------*/
/* RESPONSIVE SLIDE
/*------------------------------------------------------*/
@media (max-width: 1199px) {
    .bs-slider{
        /*margin-top: 30px;*/
        margin-left: 20px; /*24*/
        margin-right: 20px; /*80*/
    }
}
@media (max-width: 991px) {
    .bs-slider{
        /*margin-top: 30px;*/
        margin-left: 10px; /*24*/
        margin-right: 10px; /*80*/
    }
    .slide-text h5 {
        font-size: 20px;
        line-height: 15px;
        margin-bottom: 0;
    }
    .slide-text h1 {
        font-size: 35px;
        line-height: 27px;
      /*  margin-bottom: 10px;*/
    }
    .slide-text > p {
        font-size: 20px;
    }

}
/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .bs-slider{
        margin-top: 1px;
        margin-left: 20px; /*24*/
        margin-right: 20px; /*80*/
    }
    .slide-text {
        padding: 10px 12px;
    }
    .slide-text h5 {
        font-size: 25px;
        line-height: 15px;
        margin-bottom: 5px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 20px;
        display: none;
    }

    .nav-slide-collapse {
      display: none;
    }

}
@media  (max-width: 480px) {
    .bs-slider{
        /*margin-top: 35px;*/
    }
    .slide-text {
        padding: 10px 12px;
    }
    .slide-text h5 {
        font-size: 20px;
        line-height: 0px;
        margin-bottom: 5px;
        display: none;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 5px;
        margin-bottom: 10px;
    }
    .slide-text > p {
      display: none;
    }
    .hidmob{
      display: none;
    }
    .nav-slide-collapse {
      display: none;
    }
}


/* MEDIA QUERIES for Background in Section */
@media only screen and (max-width:480px){
  section.section-news-head {
    height: 100px;
    padding-top: 0;
  }
  img.img-news {
    margin-right: 60px;
    padding-top: 95px;
    max-width: 65%;
  }
  section.section-product-head {
    height: 100px;
  }
  .font-product {
    font-size: 36px;
    font-weight: 100;
    float: right;
    line-height: 30px;
    margin-right: 55px;
    padding-top: 20px;
  }
  img.img-product {
    margin-right: 60px;
    /* padding-top: 95px; */
    padding-bottom: 15px;
    max-width: 65%;
  }
  .font-head-community {
    font-size: 45px;
    font-weight: 100;
    float: right;
    line-height: 30px;
    margin-right: 65px;
    padding-top: 20px;
  }
  section.section-community {
    height: 490px;
  }
  img.img-head-community {
    padding-top: 0;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-right: 25px;
    height: 54px;
  }
  .nav-slide-collapse {
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  img.img-head-download {
    margin-top: 120px;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 50px;
  }

  .img-download-width {
    width: 650px;
    /*padding-left: 30px;
    padding-right: 30px;*/
  }
  _::-webkit-full-page-media, _:future, :root .safari_only
  {
    margin-top: 120px;
  }
  .pdf-thumb-box
  {

  }
}
@media only screen and (min-width:481px) and (max-width: 600px){
  section.section-news-head {
    height: 150px ;
    padding-top: 0;
  }
  img.img-news {
    margin-right: 80px;
    padding-top: 150px;
    /* padding-bottom: 20px; */
    max-width: 65%;
  }
  section.section-product-head {
    height: 150px ;
  }
  .font-product {
    font-size: 50px;
    font-weight: 100;
    float: right;
    line-height: 30px;
  }
  img.img-product {
    margin-right: 80px;
    /* padding-top: 150px; */
    padding-bottom: 20px;
    max-width: 65%;
  }
  .font-head-community {
    font-size: 50px;
    font-weight: 100;
    float: right;
    line-height: 30px;
    margin-right: 65px;
  }
  section.section-community {
    height: 590px;
  }
  img.img-head-community {
    padding-top: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 25px;
    height: 64px;
  }
  .nav-slide-collapse {
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  img.img-head-download {
    margin-top: 115px;
    margin-left: 20px;
    margin-bottom: 0;
    height: 55px;
  }
  .img-download-width {
    width: 650px;
    padding-left: 30px;
    padding-right: 30px;
  }
  _::-webkit-full-page-media, _:future, :root .safari_only
  {
    margin-top: 120px;
  }
  .pdf-thumb-box
  {

  }
}
@media only screen and (min-width:601px) and (max-width: 767px){
  section.section-news-head {
    height: 180px;
    padding-top: 0;
  }
  img.img-news {
    margin-right: 110px;
    padding-top: 170px;
    /* padding-bottom: 30px; */
    max-width: 65%;
  }
  section.section-product-head {
    height: 180px;
  }
  .font-product {
    font-size: 55px;
    font-weight: 100;
    float: right;
    line-height: 35px;
  }
  img.img-product {
    margin-right: 110px;
    /*padding-top: 170px; */
    padding-bottom: 30px;
    max-width: 65%;
  }
  .font-head-community {
    font-size: 60px;
    font-weight: 100;
    float: right;
    line-height: 35px;
    margin-right: 80px;
  }
  section.section-community {
    height: 750px;
  }
  img.img-head-community {
    padding-top: 0;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 45px;
    height: 74px;
  }
  .nav-slide-collapse {
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  img.img-head-download {
    margin-top: 160px;
    margin-left: 30px;
    margin-bottom: 0px;
    height: 66px;
  }
  .img-download-width {
    width: 700px;
    padding-left: 25px;
    padding-right: 25px;
  }
  _::-webkit-full-page-media, _:future, :root .safari_only
  {
    margin-top: 120px;
  }
  .pdf-thumb-box
  {

  }
}
@media only screen and (min-width:768px) and (max-width: 991px){
  section.section-news-head {
    height: 230px;
    padding-top: 0;
  }
  img.img-news {
    margin-right: 117px;
    padding-top: 205px;
    /* padding-bottom: 40px; */
  }
  section.section-product-head {
    height: 230px
  }
  img.img-product {
    margin-right: 117px;
    /* padding-top: 205px; */
    padding-bottom: 40px;
  }
  section.section-community {
    height: 850px;
  }
  img.img-head-community {
    padding-top: 0;
    margin-bottom: 15px;
    margin-top: -40px;
    margin-right: 10px;
  }
  .nav-slide-collapse {
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  img.img-head-download {
    margin-top: 150px;
    margin-left: 10px;
  }
  .img-download-width {
    width: 700px;
  }
  _::-webkit-full-page-media, _:future, :root .safari_only
  {
    margin-top: 120px;
  }
  .pdf-thumb-box
  {

  }
}
@media only screen and (min-width:992px) and (max-width: 1199px){
  img.img-news {
    margin-right: 100px;
    padding-top: 235px;
  }
  img.img-product {
    margin-right: 100px;
    /* padding-top: 235px; */
  }
  section.section-community {
    height: 1100px;
  }
  img.img-head-community {
    padding-top: 0;
    margin-bottom: 0;
    margin-top: -10px;
  }
  .nav-slide-collapse {
    font-size: 20px;
    margin-bottom: 0;
  }
  img.img-head-download {
    margin-top: 100px;
    margin-left: 20px;
  }
  .img-download-width {
    width: 880px;
  }
}
@media only screen and (min-width:768px) and (max-width: 1199px){
  .font-head-community {
    font-size: 60px;
    font-weight: 100;
    float: right;
    line-height: 30px;
    margin-right: 125px;
  }
}
@media only screen and (min-width:1200px) and (max-width:1419px){
  .nav-slide-collapse {
    margin-bottom: 0;
  }
  img.img-head-download {
    margin-top: 170px;
  }
}
@media only screen and (min-width:1420px){
  section.section-community {
    height: 1315px;
  }
  img.img-head-download {
    margin-top: 250px;
  }
}
@media only screen and (min-width:1769px){
  section.section-community {
    height: 1430px;
  }
  img.img-head-download {
    margin-top: 330px;
  }
}
/* Forth-Section: Download-Section;
.section-download {
  padding-top: 0;
  padding-bottom: 30px;
  font-family: 'THSarabunNewRegular';
}
@media only screen and (max-width: 767px) {
  .section-download {
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 80px;
  }
}
h2.font-download {
  font-size: 72px;
  margin-left: 85px;
  margin-bottom: -36px;
  text-align: left;
  font-weight: 700;
}
@media only screen and (max-width: 1199px) {
  h2.font-download {
    margin-left: 26px;
    font-size: 70px;
  }
}
@media only screen and (max-width: 600px) {
  h2.font-download {
    font-size: 50px;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}


/* Community Page (Detail) */
#box_on_map {
  position: absolute;
  overflow: hidden;
  display: inline-block;
}
.community_cover {
  background-image: url('../img/product-hilight/product-hilight1-3.jpg');
  background-position: center center;
  background-size: cover;
}
.text_hoverlay {
  padding: 35px;
  margin-top: -105px;
  color: #fff;
  font-size: 23px;
  position: absolute;
  top: 215px;
  left: 0;
  width: 30%;
  height: 100%;
  text-align: right;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}
.community-page-section {
  padding-top: 20px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .community-page-section {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
.bg-card-block {
  background-color: #6ba491;
  font-size: 22px;
  color: #fff;
  font-family: 'THSarabunNewRegular';
}
.padding-card-block {
  padding-top: 20px;
  padding-bottom: 20px;
}
hr.community {
  padding: 0 100px;
  border: none;
  border-top: #D4D0C5 solid 2px;
  text-align: center;
  margin: 25px 83px;
}
h2.section-heading,
h3.section-subheading,
h4  {
  font-family: 'THSarabunNewRegular';
}

h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  text-align: left;
  margin-left: 112px;
  margin-bottom: 15px;
  font-weight: 600;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4{
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
  font-weight: 500;
  font-size: 22px;
}
.team-member p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 22px;
}
@media only screen and (max-width: 1199px) {
  hr.community {
    margin: 25px 0px;
  }
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    text-align: left;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .text_hoverlay {
    padding: 15px;
    margin-top: -127px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 210px;
    left: 0;
    width: 35%;
    height: 100%;
    text-align: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
}
@media only screen and (max-width: 767px) {
  .team-member .text-left{
    text-align: center !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .text_hoverlay {
    padding: 15px;
    margin-top: -128px;
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 210px;
    left: 0;
    width: 50%;
    height: 90%;
    text-align: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
}
@media only screen and (max-width: 600px) {
  .text_hoverlay {
    padding: 15px;
    margin-top: -128px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 210px;
    left: 0;
    width: 50%;
    height: 67.5%;
    text-align: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
}


/* Product Page */
.product-section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .product-section {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.tile:hover {

}
.scale-anm {
  transform: scale(1);
}


/* Download Page */
.download-section {
  padding-top: 0;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .download-section {
    padding-bottom: 15px;
  }
}
.pic_download {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .pic_download {
    width: 750px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .pic_download {
    width: 970px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .pic_download {
    width: 970px;
    margin-left: 85px;
  }
}
/* Download Page:Overlay hover*/
.pdf-thumb-box  {
  display:inline-block !important;
  position:relative !important;
  overflow: hidden;
  /*padding: 0 30px;*/
}
.pdf-thumb-box-overlay {
  visibility:hidden;
  opacity:0;
}
.pdf-thumb-box a{
  color:transparent;
}
.pdf-thumb-box a:hover .pdf-thumb-box-overlay {
  visibility:visible;
  opacity:0.75;
  transition-delay:0s;
  text-align:center;
  position: absolute;
  background-color: #090908;
  color: #fff;
  width:100%;
  height:100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.pdf-thumb-box-overlay img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0
}


/* FOOTER */
/*--------------------*/
.margin-top-on-footer {
  padding-top: 50px;
  background-color: #f4efe4;
}
.footer img {
  padding: 0 20px;
}
.footer ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
}
.footer ul li a {
  padding: 0 0 0 0;
  display: block;
}
.footer-bottom {
  background: #281b1c;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-weight: 100;
  font-family: 'Myriad Pro';
  font-size: 19px;
}
.footer-bottom div.pull-left {
  font-size: 14px;
  padding-top: 9px;
  padding-left: 80px; /*70*/
}
.footer-bottom div.pull-left a {
  color: #ffffff;
}
.footer-bottom div.pull-right  {
  padding-right: 80px; /*100*/
}
@media only screen and (max-width: 1199px) {
  .footer-bottom div.pull-left {
    padding-top: 9px;
    padding-left: 25px;
  }
  .footer-bottom div.pull-right  {
    padding-right: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .mobile-center {
    float: none !important;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .footer-bottom div.pull-left,
  .footer-bottom div.pull-right {
    float:none !important;
    margin: 0 auto;
    padding: 0;
  }
  .footer-bottom ul li {
    float:none !important;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
  }
}
.social li {
  list-style-type: none;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
