html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Myriad Pro' , 'THSarabunNewRegular' ;
  background-color: #f4efe4;
}
.logo {
  margin-top: -16px; /*-20*/
  width: 200px;
  margin-left: -5px;
}

/* Navber */
/*------------------*/
/* Set Navbar */
.navbar-index .navbar-nav,
.navbar-community .navbar-nav,
.navbar-download .navbar-nav {
  margin: 0;
}
.navbar-index {
  font-family: 'Myriad Pro';
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  background-color: #281b1c;
  /*padding: 15px 0;*/
}
.navbar-community {
  font-family: 'THSarabunNewRegular';
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  background-color: #f4efe4;
  padding: 15px;
}
.navbar-download {
  font-family: 'THSarabunNewRegular';
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  background-color: #f4efe4;
  padding: 15px 0;
}
.navbar-index > ul > li > a {
  color: #f4efe4;
}
.navbar-community > ul > li > a,
.navbar-download > ul > li > a {
  color: #281b1c;
}
/* Fixed Navbar on top */
.fixed-navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: none;
}
/* Set Center Position and height Navbar */
@media (min-width: 767px) {
  .navbar .navbar-nav,
  .fixed-navbar {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse,
  .fixed-navbar {
    text-align: center;
  }
}
/* Set Space Inside Navbar */
.inside-navbar > li > a {
  padding-right: 45px;
  padding-left: 45px;
}
.navbar-community .inside-navbar > li > a {
  padding-right: 5px;
  padding-left: 5px;
}
@media only screen and (max-width: 991px) {
  .inside-navbar > li > a {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* Set Hover&Focus Active Navbar */
.nav > .active > a:hover {
  background: url(../img/image_section/menu-active.png)no-repeat center bottom;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #f4efe4;
}
.navbar-index > ul > li > a:hover {
  color: #f4efe4;
  background: url(../img/image_section/menu-active.png)no-repeat center bottom;
}
.navbar-community > ul > li > a:hover,
.navbar-download > ul > li > a:hover {
  color: #281b1c;
  background: url(../img/image_section/menu-active.png)no-repeat center bottom;
}
.navbar-index > ul > li > a:focus,
.nav-slide-collapse > ol > li > a:focus {
  color: #f4efe4;
  background-color: #281b1c;
}
.navbar-community > ul > li > a:focus,
.navbar-download > ul > li > a:focus {
  color: #281b1c;
  background-color: #f4efe4;
}
/* Set Navbar-Toggle in Index, Community, Download Page*/
.navbar-index .navbar-toggle:hover,
.navbar-index .navbar-toggle:focus {
  background-color: #281b1c;
}
.navbar-community .navbar-toggle:hover,
.navbar-community .navbar-toggle:focus,
.navbar-download .navbar-toggle:hover,
.navbar-download .navbar-toggle:focus {
  background-color: #e5dac0;
}
.navbar-index .navbar-toggle .icon-bar {
  background-color: #f4efe4;
}
.navbar-community .navbar-toggle .icon-bar,
.navbar-download .navbar-toggle .icon-bar {
  background-color: #281b1c;
}
.dropdown-menu {
    min-width: 300px;
    background-color: #e0dcd2;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #e3dfd6;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px #e3dfd6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin-left: 50px;
    padding: 10px 0;
}
.btn-product {
  font-family: 'THSarabunNewRegular';
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  line-height: 2;
  padding: 0 2.5rem;
  -webkit-appearance: none;
}
.btn-product:hover,
.btn-product:focus  {
  color: #D2CDC3;
  text-decoration: none;
  background-color: #5A5853;
}
.btn-product .active  {
  color: white;
  text-decoration: none;
  background-color: #000;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Set Navbar in Community Page: when screen down 1199px; */
@media only screen and (max-width: 1199px) {
  .navbar-community .navbar-header {
    float: none;
  }
  .navbar-community  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-community  .navbar-toggle {
    display: block;
  }
  .navbar-community  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-community  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-community  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-community  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-community  .navbar-nav>li {
    float: none;
  }
  .navbar-community  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-community .collapse.in{
    display:block !important;
  }
}
@media only screen and (max-width: 767px) {
  .dropdown-menu {
    text-align: center;
    margin-left: 0;
  }
}

/* Product-Box for HomePage, ProsuctPage CommunityPage */
.pd-th {
  line-height: 20px;
  display: inline-block;
  border: solid 2px #FFFFFF;
  max-width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
}
.pd-space_around_box {
  margin: 0.5rem;
}
.pd-product_box {
  width: 230px;
  /*height: 370px;*/
  background: #fff;
  border: solid 1px #fff;
  position: relative;
}
.pd-product_box_rate {
  width: 230px;
  /*height: 390px;*/
  background: #fff;
  border: solid 1px #fff;
  position: relative;
}
.pd-box_picture {
  z-index: 9;
  width: 228px;
  height: 155px;
  overflow: hidden;
  background: #fff;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.pd-box_detail_product {
  height: 175px;
  width: 228px;
  background: #fff;
  position: relative;
}
.pd-box_btn_more {
  height: 20px;
  text-align: right;
  cursor: pointer;
}
.pd-caption {
  padding:0;
  margin:0;
  color: #777;
  font-family: 'THSarabunNewRegular';
}
.pd-caption h3 {
  padding: 5px 0 0 0;
  margin:0;
  text-align: center;
  font-size: 23px;
}
hr.line-pd-caption {
    position: absolute;
    z-index: 50;
    top: 27px;
    right: 0;
    left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pd-caption p {
  padding: 5px;
  margin:0;
  text-align: left;
  font-size: 23px;
  text-indent: 0;
}
.pd-caption h4 {
  padding: 5px;
  margin:0;
  text-align: right;
  font-size: 21px;
  cursor: pointer;
}
.pd-tab-header-carousel {
  background-color: #D9D9D9;
  font-size: 23px;
  text-align: center;
}
.pd-tab-rate {
  text-align: center;
  height: 20px;
  cursor: pointer;
}
.modal-body {
  max-height: 180px;
  overflow-y: auto;
  height: 100%;
  font-family: 'THSarabunNewRegular';
  font-size: 23px;
}
.owl-carousel {
position: relative;
}
.owl-prev,
.owl-next {
position: absolute;
top: 50%;
margin-top: -30px; // Half of the prev/next buttons height here in negatives to center them perfectly
}
.owl-prev {
  left: 0;
  font-size: 35px;
  font-weight: 600;
  color: #C0C0C0;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: transparent;

  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.owl-prev:hover  {
  left: 0;
  font-size: 35px;
  font-weight: 600;
  color: #C0C0C0;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.5);
  opacity: 0.9;

  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;

  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.owl-next {
  right: 0;
  font-size: 35px;
  font-weight: 600;
  color: #C0C0C0;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: transparent;

  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.owl-next:hover  {
  right: 0;
  font-size: 35px;
  font-weight: 600;
  color: #C0C0C0;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.5);
  opacity: 0.9;

  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;

  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@media only screen and (max-width:800px) {
  .owl-prev {
    margin-left: 60px;
  }
  .owl-prev:hover {
    margin-left: 60px;
  }
  .owl-next {
    margin-right: 60px;
  }
  .owl-next:hover {
    margin-right: 60px;
  }
}


/* Content */
/*--------------------*/
/* Set Section */
section {
  padding-top: 100px;
  text-align: center;
}
@media (max-width: 767px) {
  section {
    padding: 45px 0 0 0;
  }
}
.padd-top-section {
  padding-top: 25px !important;
}
.width-section {

}


/* Parallax */
/* Parallax */
#hero-parallax {
  height: 800px;
  overflow: hidden;
  position: relative;
}
.layer {
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  position: fixed;
  z-index: -1;
}
/*
#hero-mobile {
  display: none;
  background: url(../img/hero.jpg) no-repeat center top/cover;
  height: 480px;
}
@media only screen and (max-width: 640px) {
  #hero-parallax {
    display: none;
  }
  #hero-mobile {
    display: block;
  }
}*/
#hero-parallax, .layer {
  min-height: 800px;
}
.layer-bg {
  background: url(../img/header_parallax/header_bg.png)no-repeat center top/cover;
  margin-top: -160px;
}
.layer-sky-center {
  background: url(../img/header_parallax/header_05-1-center.png)no-repeat top center;
}
.layer-sky3-right {
  background: url(../img/header_parallax/header_05-3right.png)no-repeat right center;
  margin-top: -135px;
}
.layer-sky3-left {
  background: url(../img/header_parallax/header_05-3left.png)no-repeat left center;
  margin-top: -110px;
}
.layer-sky2-right {
  background: url(../img/header_parallax/header_05-2right.png)no-repeat right center;
  margin-top: -65px;
}
.layer-sky2-left {
  background: url(../img/header_parallax/header_05-2left.png)no-repeat left center;
  margin-top: -65px;
}
.layer-sky1-right {
  background: url(../img/header_parallax/header_05-1right.png)no-repeat right center;
  margin-top: -23px;
}
.layer-sky1-left {
  background: url(../img/header_parallax/header_05-1left.png)no-repeat left center;
  margin-top: -21px;
}
.layer-mountain3-right {
  background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
  margin-left: -112px;
  margin-top: 40px;
}
.layer-mountain3-left {
  background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
  margin-left: -6px;
  margin-top: 33px;
}
.layer-mountain2-right {
  background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
  margin-left: -200px;
  margin-top: 65px;
}
.layer-mountain2-left {
  background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
  margin-left: 40px;
  margin-top: -12px
}
.layer-mountain1-right {
  background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
  margin-left: 168px;
}
.layer-mountain1-left {
  background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
  margin-left: -27px;
  margin-top: -20px;
}
.layer-sea {
  background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
  margin-top: 190px;
}
.layer-logo {
  background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
  margin-top: 50px;
  margin-left: 5px;
  background-size: auto 334px;
}
.layer-coconut-right {
  background: url(../img/header_parallax/header_06-3.png)no-repeat right bottom;
  right: 0;
  margin-right: -42px;
}
.layer-coconut-left {
  background: url(../img/header_parallax/header_07.png)no-repeat left bottom;
  left: 0;
  margin-left: -42px;
}
@media only screen and (min-width: 1421px) and (max-width: 1499px) {
  .layer-mountain3-right {
    background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
    margin-left: -112px;
    margin-top: 40px;
  }
  .layer-mountain3-left {
    background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
    margin-top: 0;
    margin-left: -105px;
  }
  .layer-mountain2-right {
    background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
    margin-top: 45px;
    margin-left: 150px;
  }
  .layer-mountain2-left {
    background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
  }
  .layer-mountain1-right {
    background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
    margin-left: 50px;
    margin-top: -5px;
  }
  .layer-mountain1-left {
    background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
  }
  .layer-sea {
    background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
    margin-top: 200px;
  }
  .layer-logo {
    background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
    margin-top: 45px;
    margin-left: 5px;
    background-size: auto 350px;
  }
}

/* PARALLAX TABLET */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Parallax */
  #hero-parallax {
    height: 600px;
  }
  .layer {
    height: 500px;
  }
  #hero-parallax, .layer {
    min-height: 600px;
  }
  .layer-bg {
    background: url(../img/header_parallax/header_bg.png)no-repeat center top/cover;
    margin-top: -160px;
  }
  .layer-sky-center {
    background: url(../img/header_parallax/header_05-1-center.png)no-repeat top center;
    background-size: auto 110px;
  }
  .layer-sky3-right {
    background: url(../img/header_parallax/header_05-3right.png)no-repeat right top;
    margin-top: 60px;
    background-size: auto 140px;
  }
  .layer-sky3-left {
    background: url(../img/header_parallax/header_05-3left.png)no-repeat left top;
    margin-top: 50px;
    background-size: auto 140px;
  }
  .layer-sky2-right {
    background: url(../img/header_parallax/header_05-2right.png)no-repeat right top;
    margin-top: 135px;
    background-size: auto 110px;
  }
  .layer-sky2-left {
    background: url(../img/header_parallax/header_05-2left.png)no-repeat left top;
    margin-top: 120px;
    margin-left: 0;
    background-size: auto 110px;
  }
  .layer-sky1-right {
    background: url(../img/header_parallax/header_05-1right.png)no-repeat right top;
    margin-top: 160px;
    margin-left: 0;
    background-size: auto 145px;
  }
  .layer-sky1-left {
    background: url(../img/header_parallax/header_05-1left.png)no-repeat left top;
    margin-top: 155px;
    background-size: auto 105px;
    margin-left: 0;
  }
  .layer-mountain3-right {
    background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
    background-size: auto 235px;
    margin-top: 30px;
    margin-left: 40px;
  }
  .layer-mountain3-left {
    background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
    background-size: auto 190px;
    margin-top: 0;
    margin-left: -105px;
  }
  .layer-mountain2-right {
    background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
    background-size: auto 150px;
    margin-top: 45px;
    margin-left: 150px;
  }
  .layer-mountain2-left {
    background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
    background-size: auto 85px;
  }
  .layer-mountain1-right {
    background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
    background-size: auto 95px;
    margin-left: 50px;
    margin-top: -5px;
  }
  .layer-mountain1-left {
    background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
    background-size: auto 60px;
  }
  .layer-sea {
    background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
    margin-top: 200px;
    background-size: auto;
  }
  .layer-logo {
    background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
    margin-top: 45px;
    margin-left: 5px;
    background-size: auto 280px;
  }
  .layer-coconut-right {
    background: url(../img/header_parallax/header_06-3.png)no-repeat right bottom;
    right: 0;
    margin-right: -42px;
    background-size: auto 405px;
  }
  .layer-coconut-left {
    background: url(../img/header_parallax/header_07.png)no-repeat left bottom;
    left: 0;
    margin-left: -42px;
    background-size: auto 410px;
  }
}


/* PARALLAX TABLET */
@media only screen and (min-width: 521px) and (max-width: 767px) {
  /* Parallax */
  #hero-parallax {
    height: 600px;
  }
  .layer {
    height: 500px;
  }
  #hero-parallax, .layer {
    min-height: 600px;
  }
  .layer-bg {
    background: url(../img/header_parallax/header_bg.png)no-repeat center top/cover;
    margin-top: -160px;
  }
  .layer-sky-center {
    background: url(../img/header_parallax/header_05-1-center.png)no-repeat top center;
    background-size: auto 110px;
  }
  .layer-sky3-right {
    background: url(../img/header_parallax/header_05-3right.png)no-repeat right top;
    margin-top: 60px;
    background-size: auto 140px;
  }
  .layer-sky3-left {
    background: url(../img/header_parallax/header_05-3left.png)no-repeat left top;
    margin-top: 50px;
    background-size: auto 140px;
  }
  .layer-sky2-right {
    background: url(../img/header_parallax/header_05-2right.png)no-repeat right top;
    margin-top: 135px;
    background-size: auto 110px;
  }
  .layer-sky2-left {
    background: url(../img/header_parallax/header_05-2left.png)no-repeat left top;
    margin-top: 120px;
    margin-left: 0;
    background-size: auto 110px;
  }
  .layer-sky1-right {
    background: url(../img/header_parallax/header_05-1right.png)no-repeat right top;
    margin-top: 160px;
    margin-left: 0;
    background-size: auto 145px;
  }
  .layer-sky1-left {
    background: url(../img/header_parallax/header_05-1left.png)no-repeat left top;
    margin-top: 155px;
    background-size: auto 105px;
    margin-left: 0;
  }
  .layer-mountain3-right {
    background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
    background-size: auto 235px;
    margin-top: 30px;
    margin-left: 40px;
  }
  .layer-mountain3-left {
    background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
    background-size: auto 190px;
    margin-top: 0;
    margin-left: -105px;
  }
  .layer-mountain2-right {
    background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
    background-size: auto 150px;
    margin-top: 45px;
    margin-left: 150px;
  }
  .layer-mountain2-left {
    background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
    background-size: auto 85px;
  }
  .layer-mountain1-right {
    background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
    background-size: auto 95px;
    margin-left: 50px;
    margin-top: -5px;
  }
  .layer-mountain1-left {
    background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
    background-size: auto 60px;
  }
  .layer-sea {
    background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
    margin-top: 200px;
    background-size: auto;
  }
  .layer-logo {
    background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
    margin-top: 45px;
    margin-left: 5px;
    background-size: auto 280px;
  }
  .layer-coconut-right {
    background: url(../img/header_parallax/header_06-3.png)no-repeat right bottom;
    right: 0;
    margin-right: -42px;
    background-size: auto 405px;
  }
  .layer-coconut-left {
    background: url(../img/header_parallax/header_07.png)no-repeat left bottom;
    left: 0;
    margin-left: -42px;
    background-size: auto 410px;
  }
}

/* PARALLAX MOBILE */
@media only screen and (min-width: 300px) and (max-width: 520px) {
  #hero-parallax {
    height: 600px;
  }
  .layer {
    height: 500px;
  }
  #hero-parallax, .layer {
    min-height: 600px;
  }
  .layer-bg {
    background: url(../img/header_parallax/header_bg.png)no-repeat center top/cover;
    margin-top: -160px;
  }
  .layer-sky-center {
    background: url(../img/header_parallax/header_05-1-center.png)no-repeat top center;
    background-size: auto 70px;
  }
  .layer-sky3-right {
    background: url(../img/header_parallax/header_05-3right.png)no-repeat right top;
    margin-top: 60px;
    background-size: auto 100px;
  }
  .layer-sky3-left {
    background: url(../img/header_parallax/header_05-3left.png)no-repeat left top;
    margin-top: 50px;
    background-size: auto 100px;
  }
  .layer-sky2-right {
    background: url(../img/header_parallax/header_05-2right.png)no-repeat right top;
    margin-top: 135px;
    background-size: auto 80px;
  }
  .layer-sky2-left {
    background: url(../img/header_parallax/header_05-2left.png)no-repeat left top;
    margin-top: 140px;
    background-size: auto 80px;
  }
  .layer-sky1-right {
    background: url(../img/header_parallax/header_05-1right.png)no-repeat right top;
    margin-top: 180px;
    margin-left: 60px;
    background-size: auto 100px;
  }
  .layer-sky1-left {
    background: url(../img/header_parallax/header_05-1left.png)no-repeat left top;
    margin-top: 190px;
    background-size: auto 100px;
    margin-left: -30px;
  }
  .layer-mountain3-right {
    background: url(../img/header_parallax/header_04-right.png)no-repeat right center;
    background-size: auto 120px;
    margin-top: 10px;
    margin-left: 9px;
  }
  .layer-mountain3-left {
    background: url(../img/header_parallax/header_04-left.png)no-repeat left center;
    background-size: auto 175px;
    margin-top: 20px;
    margin-left: -170px;
  }
  .layer-mountain2-right {
    background: url(../img/header_parallax/header_03-right.png)no-repeat right center;
    background-size: auto 150px;
    margin-top: 45px;
    margin-left: 150px;
  }
  .layer-mountain2-left {
    background: url(../img/header_parallax/header_03-left.png)no-repeat left center;
    background-size: auto 38px;
  }
  .layer-mountain1-right {
    background: url(../img/header_parallax/header_02-right.png)no-repeat right center;
    background-size: auto 58px;
    margin-left: 50px;
    margin-top: -5px;
  }
  .layer-mountain1-left {
    background: url(../img/header_parallax/header_02-left.png)no-repeat left center;
    background-size: auto 40px;
  }
  .layer-sea {
    background: url(../img/header_parallax/header_01-2.png)no-repeat center bottom/cover;
    margin-top: 200px;
    background-size: auto;
  }
  .layer-logo {
    background: url(../img/header_parallax/header_logo2.png)no-repeat top center;
    margin-top: 45px;
    margin-left: 5px;
    background-size: auto 280px;
  }
  .layer-coconut-right {
    background: url(../img/header_parallax/header_06-3.png)no-repeat right bottom;
    right: 0;
    margin-right: -42px;
    background-size: auto 300px;
  }
  .layer-coconut-left {
    background: url(../img/header_parallax/header_07.png)no-repeat left bottom;
    left: 0;
    margin-left: -42px;
    background-size: auto 300px;
  }
}


/* Third-Section: Comunity-Section; */
.section-community {
  background: url('../img/image_section/community-section.png')no-repeat center bottom #f4efe4;
  color: #FFFBF6;
  font-family: 'Myriad Pro';
}
.sub-text {
  color: #fff;
}
/* Community-Section:Bootstrap Carousel */
.carousel-control:hover {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  transition-duration: 400ms;
}
.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .carousel-item.next,
  .carousel-fade .carousel-inner > .carousel-item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .carousel-item.prev,
  .carousel-fade .carousel-inner > .carousel-item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .carousel-item.next.left,
  .carousel-fade .carousel-inner > .carousel-item.prev.right,
  .carousel-fade .carousel-inner > .carousel-item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/* Forth-Section: Download-Section; */
.section-download {
  padding-top: 100px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .section-download {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

/* MEDIA QUERIES for Background in every Section */
@media only screen and (max-width:480px){
  .community_cover {  height: 320px;  }
  section.block2 {
    height: 320px;
    font-size: 13px;
  }
  /*section.block3 {  height: 140px; }
  .block3-section {
    margin-top: 100px;
    padding-bottom: 0;
  }
  .block3-section h1 {
    font-size: 26px;
  }*/
}
@media only screen and (min-width:481px) and (max-width: 600px){
  .community_cover {  height: 320px;  }
  section.block2 {
    height: 320px;
    font-size: 16px;
  }
  /*section.block3 {  max-height: 27%;  }
  .block3-section {
    margin-top: 120px;
    padding-bottom: 20px;
  }
  .block3-section h1 {
    font-size: 5vw;
  }*/
}
@media only screen and (min-width:601px) and (max-width: 767px){
  .community_cover {  height: 90%;  }
  section.block2 {
    height: 70%;
    font-size: 20px;
  }
  /*section.block3 {  max-height: 29%;  }
  .block3-section {
    margin-top: 150px;
    padding-bottom: 30px;
  }
  .block3-section h1 {
    font-size: 5vw;
  }*/
}
@media only screen and (min-width: 768px) {
  .community_cover {  height: 100%;  }
}
@media only screen and (min-width:768px) and (max-width: 900px){
  section.block2 {
    height: 85%;
    font-size: 3vw;
  }
  .block3-section {
    margin-top: 170px;
    padding-bottom: 60px;
  }
  .block3-section h1 {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 901px) {
  section.block2 {
    height: 100%;
    font-size: 24px;
  }
  .block3-section {
    margin-top: 270px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .block3-section h1 {
    font-size: 5vw;
  }
}

/* Community Page (Detail) */
#box_on_map {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  left: 0px !important;
  margin-left: 40px;
  margin-top: 20px;
}
/*
.community_cover {
  background-image: url('../img/product-hilight/product-hilight1-3.jpg');
  background-position: center center;
  background-size: cover;
}
.text_hoverlay {
  padding: 35px;
  margin-top: -105px;
  color: #fff;
  font-size: 23px;
  position: absolute;
  top: 233px;
  left: 0;
  width: 30%;
  height: 100%;
  text-align: right;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
}
*/
.community-page-section {
  padding-top: 20px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .community-page-section {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
.bg-card-block {
  background-color: #281b1c;
  font-size: 22px;
  color: #fff;
  font-family: 'THSarabunNewRegular';
}
.padding-card-block {
  padding-top: 20px;
  padding-bottom: 20px;
}
hr.community {
  padding: 0 100px;
  border: none;
  border-top: #D4D0C5 solid 2px;
  text-align: center;
  margin: 25px 83px;
}
h2.section-heading,
h3.section-subheading,
h4,
p {
  font-family: 'THSarabunNewRegular';
}
/*h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  text-align: right;
  margin-left: 112px;
  margin-bottom: 15px;
  font-weight: 600;
}*/
.team-member {
  text-align: center;
  margin-bottom: 50px;
  padding-left: 70px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
  width: 189px;
  height: 198px;
}
.team-member h4{
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
  font-weight: 500;
  font-size: 22px;
}
.team-member p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 22px;
}
@media only screen and (max-width: 1199px) {
  hr.community {
    margin: 25px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .team-member .text-left{
    text-align: center !important;
  }
}
/*
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .text_hoverlay {
    padding: 15px;
    margin-top: -128px;
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 210px;
    left: 0;
    width: 50%;
    height: 90%;
    text-align: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
}
@media only screen and (max-width: 600px) {
  .text_hoverlay {
    padding: 15px;
    margin-top: -128px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 210px;
    left: 0;
    width: 50%;
    height: 320px;
    text-align: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
}
@media only screen and (max-width: 317px) {
  .text_hoverlay {
    padding: 15px;
    margin-top: -128px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 260px;
    left: 0;
    width: 50%;
    height: 320px;
    text-align: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
  }
}
*/
/* Product Page */
.product-section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .product-section {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.tile:hover {

}
.scale-anm {
  transform: scale(1);
}


/* Download Page */
.download-section {
  padding-top: 0;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .download-section {
    padding-bottom: 15px;
  }
}
/* Download Page:Overlay hover*/
.pdf-thumb-box  {
  display:inline-block !important;
  position:relative !important;
  overflow: hidden;
  max-width: 86%;
}
.pdf-thumb-box-overlay {
  visibility:hidden;
  opacity:0;
}
.pdf-thumb-box a{
  color:transparent;
}
.pdf-thumb-box a:hover .pdf-thumb-box-overlay {
  visibility:visible;
  opacity:0.75;
  transition-delay:0s;
  text-align:center;
  position: absolute;
  background-color: #090908;
  color: #fff;
  width:100%;
  height:100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.pdf-thumb-box-overlay img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0
}


/* FOOTER */
/*--------------------*/
.margin-top-on-footer {
  margin-top: 50px;
}
.footer img {
  padding: 0 20px;
}
.footer ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
}
.footer ul li a {
  padding: 0 0 0 0;
  display: block;
}
.footer-bottom {
  background: #281b1c;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-weight: 100;
  font-family: 'Myriad Pro';
  font-size: 19px;
}
.footer-bottom div.pull-left {
  font-size: 14px;
  padding-top: 9px;
  padding-left: 65px; /*100*/
}
.footer-bottom div.pull-left a {
  color: #ffffff;
}
.footer-bottom div.pull-right  {
  padding-right: 65px; /*100*/
}
@media only screen and (max-width: 1199px) {
  .footer-bottom div.pull-left {
    padding-top: 9px;
    padding-left: 0;
  }
  .footer-bottom div.pull-right  {
    padding-right: 0;
  }
}
@media only screen and (max-width: 500px) {
  .mobile-center {
    float: none !important;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .footer-bottom div.pull-left,
  .footer-bottom div.pull-right {
    float:none !important;
    margin: 0 auto;
    padding: 0;
  }
  .footer-bottom ul li {
    float:none !important;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
  }
}
.social li {
  list-style-type: none;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}


/* Home Page */
/* First-Section: About-Section; */
.section-about {
  background-color: #281b1c;
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: 'Myriad Pro';
  color: #FFFBF6;
  font-size: 23px;

}
@media only screen and (max-width: 767px) {
  .section-about {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
/* Second-Section: Product-Section; */
section.section-product-head {
  background: url('../img/image_section/product-section.png') no-repeat center bottom/cover #f4efe4;
  font-family: 'THSarabunNewRegular';
  height: 52%;
  padding-top: 260px;
}
.section-product-content {
  background-color: #f4efe4;
  padding-bottom: 30px;
  margin-top: -1px;
}
.font-product {
  font-size: 72px;
  font-weight: 100;
  float: right;
  line-height: 43px;
}
img.img-product {
  margin-right: -245px;
  padding-top: 65px;
  margin-bottom: 40px;
  float: right;
}
.img-box_picture {
  display: block; 
  max-width: 100%;
  height: auto;
}
img.img-box {
  height: 155px;
  width: 100%;
  display: block;
}
.img-center {  margin: 0 auto;  }

/* Third-Section: Comunity-Section; */
.section-community {
  background: url('../img/image_section/community-section.png')no-repeat center bottom #f4efe4;
  color: #FFFBF6;
  font-family: 'THSarabunNewRegular';
}
h2.font-head-community {
  font-size: 72px;
  margin-right: 90px;
  margin-bottom: -20px;
  text-align: right;
  font-weight: 700;
}
img.img-head-community {
  margin-bottom: 50px;
  float: right;
}
h2.head-slide-community { font-size: 40px; }
p.subhead-slide-community { font-size: 30px; }
p.content-slide-community { font-size: 20px; }
/* Community-Section:Bootstrap Carousel */
.carousel-control:hover {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  transition-duration: 400ms;
}
.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .carousel-item.next,
  .carousel-fade .carousel-inner > .carousel-item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .carousel-item.prev,
  .carousel-fade .carousel-inner > .carousel-item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .carousel-item.next.left,
  .carousel-fade .carousel-inner > .carousel-item.prev.right,
  .carousel-fade .carousel-inner > .carousel-item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/* Forth-Section: Download-Section; */
.section-download {
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: 'THSarabunNewRegular';
}
@media only screen and (max-width: 767px) {
  .section-download {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
h2.font-download {
  font-size: 72px;
  margin-left: 135px;
  margin-bottom: -36px;
  text-align: left;
  font-weight: 700;
}
img.img-download {
  margin-left: 135px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1199px) {
  h2.font-download,
  img.img-download {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  h2.font-download,
  img.img-download {
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 56px;
    padding-bottom: 10px;
  }
}
/* MEDIA QUERIES for Background in every Section */
/*@media only screen and (max-width:480px){
  .community_cover {  height: 320px;  }
  section.block3 {  height: 100%; }
  .block3-section {
    margin-top: 100px;
    padding-bottom: 0;
  }
  .block3-section h1 {
    font-size: 26px;
  }
}
@media only screen and (min-width:481px) and (max-width: 600px){
  .community_cover {  height: 320px;  }
  section.block3 {  max-height: 27%;  }
  .block3-section {
    margin-top: 120px;
    padding-bottom: 20px;
  }
  .block3-section h1 {
    font-size: 5vw;
  }
}
@media only screen and (min-width:601px) and (max-width: 767px){
  .community_cover {  height: 90%;  }
  section.block3 {  max-height: 29%;  }
  .block3-section {
    margin-top: 150px;
    padding-bottom: 30px;
  }
  .block3-section h1 {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 768px) {
  .community_cover {  height: 100%;  }
}
@media only screen and (min-width:768px) and (max-width: 900px){
  .block3-section {
    margin-top: 170px;
    padding-bottom: 60px;
  }
  .block3-section h1 {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 901px) {
  .block3-section {
    margin-top: 270px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .block3-section h1 {
    font-size: 5vw;
  }
}*/

/*Slide Product-Highlights*/
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: -15px;
  top:30%
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: -15px;
  top:30%
}
@media only screen and (max-width:991px)
{
  .carousel-showmanymoveone .carousel-control.right
  {
    right: 10px !important;
  }

  .carousel-showmanymoveone .carousel-control.left  {
    left: 10px; !important;
  }
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media only screen and (max-width: 767px) {
  .carousel-showmanymoveone h5 ,
  .carousel-showmanymoveone h6 ,
  .carousel-showmanymoveone p  {
    text-align: center !important;
  }
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media only screen and (max-width: 767px) and (transform-3d), all and (max-width: 767px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media only screen and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}
