.mainbghead
{
  position: relative;
  width: 100%; /* for IE 6 */
}

#langdiv
{
  text-align: right;
  color: white;
  font: bold 14px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 2px;
}

.changelang
{
  padding-left:10px;
  cursor: pointer;
}

.changelang.last
{
  padding-right:10px;
  cursor: pointer;
}
