.modalload {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loading.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalload {
    display: block;
}


.mainbghead
{
  position: relative;
  width: 100%; /* for IE 6 */
}

#langdiv
{
  text-align: right;
  color: white;
  font: bold 14px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 2px;
}

#showpagination
{
	text-align: center;
}

#showpagination a
{
	padding-left:5px;
	padding-right:5px;
}

#showpagination strong
{
	padding-left:5px;
	padding-right:5px;
}

.changelang
{
  padding-left:10px;
  cursor: pointer;
}

.changelang.last
{
  padding-right:10px;
  cursor: pointer;
}

.activelmenu{
  background-color: #4CAF50 !important;
  color: white !important;
}

.activelsub a{
  background-color: #7ac17c !important;
  color: white !important;
}

/* define a fixed width for the entire menu */
.lnavigation {
  background-color: #CCC;
  padding-top: 20px;
  height: 100%; /* Full height */
  position: absolute; /* Make it stick, even on scroll */
}

.tlmenumargin
{
  margin-top:20px;
}

/* reset our lists to remove bullet points and padding */
ul.lmainmenu, ul.lsubmenu {
  background-color: #CCC !important;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 100%; /* Full height */
}

/* make ALL links (main and submenu) have padding and background color */
ul.lmainmenu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */
ul.lmainmenu a:hover {
    background-color: #af1f1f;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

ul.lmainmenu li:hover ul.lsubmenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

ul.lsubmenu a {
  background-color: #999;
}

/* hover behaviour for links inside .submenu */
ul.lsubmenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
ul.lsubmenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

ul.lsubmenuactive {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 100%; /* Full height */
  display: block;
  max-height: 200px;
  background-color: #999;
}

@media only screen and (max-width:990px) {

  .hidnav991
  {
    display: none;
  }

  .hasleft
  {
    padding-top: 20px;
    margin-left: 20px;
  }

}

@media only screen and (min-width:991px) {

  .hidnav991
  {
    display: block;
  }

  .hasleft
  {
    padding-top: 20px;
    margin-left: 200px;
  }

}


/* re order set */
.reorder_linkpicture {
    color: #3675B4;
    border: solid 2px #3675B4;
    border-radius: 3px;
    text-transform: uppercase;
    background: #fff;
    font-size: 18px;
    padding: 0px 20px;
    margin: 5px 15px 15px 0px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    white-space: nowrap;
}
.reorder_linkpicture:hover {
    color: #fff;
    border: solid 2px #3675B4;
    background: #3675B4;
    box-shadow: none;
}
#reorder-helperpicture{margin: 18px 10px;padding: 10px;}
.light_box {
    background: #efefef;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    font-size: 1.2em;
}

.reorder_linkslide {
    color: #3675B4;
    border: solid 2px #3675B4;
    border-radius: 3px;
    text-transform: uppercase;
    background: #fff;
    font-size: 18px;
    padding: 0px 20px;
    margin: 5px 15px 15px 0px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    white-space: nowrap;
}
.reorder_linkslide:hover {
    color: #fff;
    border: solid 2px #3675B4;
    background: #3675B4;
    box-shadow: none;
}
#reorder-helperslide{margin: 18px 10px;padding: 10px;}
.light_box {
    background: #efefef;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    font-size: 1.2em;
}

.reorder_linkfile {
    color: #3675B4;
    border: solid 2px #3675B4;
    border-radius: 3px;
    text-transform: uppercase;
    background: #fff;
    font-size: 18px;
    padding: 0px 20px;
    margin: 5px 15px 15px 0px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    white-space: nowrap;
}
.reorder_linkfile:hover {
    color: #fff;
    border: solid 2px #3675B4;
    background: #3675B4;
    box-shadow: none;
}
#reorder-helperfile{margin: 18px 10px;padding: 10px;}
.light_box {
    background: #efefef;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    font-size: 1.2em;
}

.gallery{ width:100%; float:left; margin-top:30px;}
.gallery ul{ margin:0; padding:0; list-style-type:none;}
.gallery ul li{ padding:7px; border:2px solid #ccc; float:left; margin:10px 7px; background:none; width:auto; height:auto;}
.gallery img{ width:250px;}

/* NOTICE */
.notice, .notice a{ color: #fff !important; }
.notice { z-index: 8888; }
.notice a { font-weight: bold; }
.notice_error { background: #E46360; }
.notice_success { background: #657E3F; }
/* re order set */

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li.ontab {float: left;}

/* Style the links inside the list items */
ul.tab li.ontab a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li.ontab a.tablinks:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li.ontab a.tablinks:focus, .activetabs {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.trhasleft{
  margin-left:20px;
  margin-right:20px;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 130px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}

#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.setbg
{
  background: url(../frontend/img/header_parallax/hero.jpg) no-repeat center top/cover;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
    opacity: 1;
    z-index:1;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
}

#mbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../frontend/img/header_parallax/hero.jpg) no-repeat center top/cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.8;
    filter:alpha(opacity=80);
}

@media only screen and (min-width:1024px)
{
  .sidebar
  {
    min-height: 800px;
  }
}
